@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
html{
    font-size: 10px;
}
body{
    margin: 0 auto;
    width: 100%;
}
.text_1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.642rem;
    color: #000;
}
.text_2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.408rem;
    color: #000;
    padding-right: 1rem;
}
.text_3{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.408rem;
    color: #000;
    padding-bottom: 1.4rem;
}
.text_4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.642rem;
    color: #000;
    padding-bottom: 1rem;
}
.text_5{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.815rem;
    color: #000;
    text-align: center;
}
.text_green{
    color: #29A71E;
}
.text_red{
    color: #E13535;
}
.text_blue{
    color: #3675B0;
}
.card{
    width: 60%;
    min-width: 755px;
    max-width: 1100px;
    min-height: 480px;
    background: #FFB084;
    border-radius: 20px;
    margin: 15vh auto 0;
}
section{
    display: grid;
    gap: 1.5rem 2.2rem;
    grid-template-columns: 25fr 19fr 19fr;
   /* grid-template-rows: 117px 100px 60px 15px 65px;*/
    grid-template-rows: 28% 25% 12% 3% 20%;
    padding: 2.2rem 4rem 0 3.8rem;
}
section div{
    border-radius: 20px;
    background-color: #FFFFFF;

}
.padding_ul{
    padding: 0 0 0 20px;
    margin: 0;
}
.card1{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    box-shadow: 7px 7px 0px #000000;
    padding: 15px 25px;

}
.photo{
    margin: 2rem auto;
    text-align: center;
}
.card2{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 15px 25px;
    box-shadow: 7px 7px 0px #000000;
}
.card3{
    box-shadow: 7px 7px 0px #29A71E;
    padding: 15px 25px;
}
.card4{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    box-shadow: 7px 7px 0px #E13535;
    padding: 15px 25px;
}
.card5{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    box-shadow: 7px 7px 0px #3675B0;
    padding: 15px 25px;
}
.card6{
    box-shadow: 7px 7px 0px #000000;
    padding: 15px 25px;
}
.card7{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    box-shadow: 7px 7px 0px #000000;
    padding: 15px 25px;
}