body{
    margin: 0 auto;
    width: 100%;
    background-color: #FBE4FF;
}
.header{
    height: 65px;
    background-color: #243B93;
    overflow: hidden;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 3;
}
.row{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.logo{
    margin-top: 7px;
}
.language{
    display: flex;
    margin-top: 6px;
}
.text_language{
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    line-height: 36.23px;
    display: flex;
    margin: 10px 0 0 10px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    margin-left: 20%;
    position: sticky;
}
.element{
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 20.7px;
    text-decoration: none;
    letter-spacing: 0.16em;
}
.header2{
    height: 85px;
    background-color: #BFF0FF;
    overflow: hidden;
}
.row2{
    width: 1320px;
    margin: auto auto;
    font-family: 'PT Sans', sans-serif;
    color:#202846;
    font-weight: 400;
    font-size: 44px;
    line-height: 56.94px;
    margin-top: 16px;
    font-style: italic;
    text-transform: uppercase;
}
.location{
    width: 1320px;
    height: 57px;
    background-color: #FFFFFF;
    margin: 27px auto;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: rgba(0, 0, 0, 0.61);
    font-weight: 400;
    font-size: 28px;
    line-height: 36.23px;
    display: flex;
    justify-content:space-between;
}
.loc2{
    padding-top: 10px;
    padding-left: 60px;
    width: 100%;
}
.loc3{
    padding-top: 15px;
    padding-right: 12px;
}
.block{
    margin-bottom: 42px;
}
.tour{
    width: 1320px;
    height: 300px;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    margin: auto;
    display: flex;
    position: relative;
}
.tour:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}
/*.tour .star i{
    font-size: 48px;
    color: #FFF;
}*/
.tour:hover .star path{
    fill: #FFF500;
}
.tour:hover .button a{
    background: #EF075B;
}
.img{
    margin: 33px 0 0 52px;
}
.text_tur{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 46.58px;
    margin: 14px 0 0 30px;
    font-style: italic;
    border-bottom: 3px solid #FFFFFF;
    color: #353C57;
}
.text_tur2{
    width: 740px;
    height: 205px;
    background-color: #FFFFFF;
    margin: 10px 0 0 30px;

}
.txt{
    font-weight: 200;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    line-height: 28.47px;
    color: #202846;
    padding: 10px 116px 0 16px;
}
.star{
    position: absolute;
    top: 10px;
    left: 1265px;
}
.button2{
    width: 210px;
    height: 46px;
    background-color: #243B93;
    border-radius: 30px;
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 42px;
}
.button{
    position: absolute;
    top: 243px;
    left: 1144px;
}
.header3{
    height: 85px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    overflow: hidden;
}
.row3{
    width: 1320px;
    margin: auto auto;
    font-family: 'PT Sans', sans-serif;
    color:#243B93;
    font-weight: 400;
    font-size: 44px;
    line-height: 56.94px;
    margin-top: 16px;
    font-style: italic;
}
.cabinet{
    width: 1320px;
    height: 500px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin: 36px auto 19px auto;
    overflow: hidden;
    display: flex;
}
.img2{
    margin: 77px 0 0 167px;
}
.button3{
    width: 250px;
    height: 50px;
    background-color: #243B93;
    border-radius: 30px;
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    margin: 35px 0 26px 148px;
}
.info{
    margin: 46px 0 0 133px;
    width: 712px;
}
.text_2{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 14px 0 0 30px;
    font-style: italic;
    border-bottom: 3px solid #FFFFFF;
    color: #353C57;
    line-height: 65px;
}
.text_3{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    font-style: italic;
    color: #353C57;
    line-height: 65px;
}
.button3:hover{
    background: #EF075B;
}
.button4{
    width: 174px;
    height: 50px;
    background-color: #243B93;
    border-radius: 30px;
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    margin: 0 auto 56px;
}
.header4{
    height: 85px;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    overflow: hidden;
}
.last{
    width: 1320px;
    margin: 25px auto;
    display: flex;
    justify-content:space-between;
}
.text_4{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color:#000;
    line-height: 41.41px;
    border-bottom: 3px solid #202846;
}
.text_5{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:#000;
    line-height: 38.82px;
    margin-bottom: 16px;
}
.map{
    width: 500px;
    height: 290px;
    border: 3px solid #243B93;
    border-radius: 40px;
}
.row_2{
    width: 1320px;
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.7px;
    letter-spacing: 0.16em;
    line-height: 25px;
    margin: 20px auto;
}
.footer{
    height: 65px;
    background-color: #243B93;
    overflow: hidden;
}
.button-top{
    position: fixed;
    top: 80%;
    left:90%;
    z-index: 2;
}