@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
html{
    font-size: 10px;
}
body{
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
}
.cards{
    width: 70%;
    display: flex;
    margin: 110px auto 182px;
    justify-content:space-between;
    min-width: 900px;
    max-width: 1200px;
    overflow: hidden;
}
.card1{
    width: 56%;
    background: #FFFFFF;
    background-image: url(../image/Stroke\ 5.png);
    background-repeat: no-repeat;
}
.card2{
    width: 44%;
    background: #fff;
    box-shadow: 0px 0px 10px 9px #4E7577;
}
.creative{
    font-size: 2.4rem;
    font-weight: 700;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 2.4rem;
    color: #000;
    width: 100px;
    margin: 1.2rem 0 0 3.2rem;
}
.started{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    line-height: 3.6rem;
    margin-top: 6rem;
}
.form{
    width: 55%;
    margin: 0 auto;
}
.margin{
    margin-bottom: 1rem;
}
.field{
    width:95%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    padding-left: 0.8rem;
    height: 25px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 2.4rem;
}
.label{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 2.4rem;
}
::placeholder {
    color: #CCCCCC;
    opacity: 1;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.6rem;
}
.circle::placeholder{
    letter-spacing: .5rem;
}
.margin2{
    margin-top: .5rem;
}
.text-bottom{
    color: #A8A8A8;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.5rem;
    margin-top: 10px;
}
.optional{
    color: #A8A8A8;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.6rem;
    padding-left: 5px;
}
.button{
    width:99%;
    border: 1px solid #284A5E;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    height: 35px;
    background: #27485D;
    margin-top: 8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 2.4rem;
}
.user{
    display: flex;
    justify-content:space-around;
    margin: 1rem auto 0;
    width: 60%;
}
.user1{
    font-size: 1.6rem;
    font-weight: 700;
    color: #C4C4C4;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 2.4rem;
}
.user2{
    font-size: 1.6rem;
    font-weight: 700;
    color: #476D73;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    line-height: 2.4rem;
    cursor: pointer;
}
.card2_1{
    width: 98.5%;
    margin: .3rem 0 .3rem .2rem;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 6px 7px #4E7577;
    height: 650px;
}
.menu{
    display: flex;
    justify-content:space-around;
    margin: 0 0 20rem 65%;
    padding-top: 1rem;
}
.text_menu{
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 2.4rem;
    opacity: 0.8;
    cursor: pointer;
}
.quote{
    width: 70%;
    margin:0 0 0 14%;
    font-size: 4.8rem;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 6.0rem;
    opacity: 0.8;
    text-shadow: 3px 3px 0px rgb(255 255 255 / 10%);
}
.text_autor{
    margin:0 0 0 14%;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 2.4rem;
    opacity: 0.8;
}