@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
html{
    font-size: 10px;
}
body{
    margin: 0 auto;
    width: 100%;
    background-color: #212529;
}
.header{
    width: 95%;
    display: flex;
    margin: 1rem auto;
    justify-content:space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content:space-between;
    width: 40%;
    min-width: 400px;
}
.header_text{
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 27px;
}
.button-orange{
    width: 121px;
    height: 54px;
    background-color:#292B2E;
    border-radius: 50px;
    display: block;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    line-height: 55px;
}
.header_text:hover{
    color: #FFB742;
}
.button-orange:hover{
    color: #212529;
    background-color:#FFB742;
}
.people_card{
    width: 70%;
    margin: 100px auto;
    min-width: 400px;
    text-align: center;
}
.people_card_text{
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    line-height: 50.75px;
    font-family: 'Inter', sans-serif;
}
.people_card_text_orange{
    color: #FFB742;
}
.people_card_text2{
    font-size: 4.8rem;
    font-weight: 700;
    color: #fff;
    line-height: 90.85px;
    font-family: 'Inter', sans-serif;
}
.people_card_text3{
    font-size: 2.4rem;
    font-weight: 400;
    color: #fff;
    line-height: 50.87px;
    font-family: 'Inter', sans-serif;
    margin: 25px 0; 
}
.cards{
    width: 90%;
    display: flex;
    margin: 136px auto 220px;
    justify-content:space-between;
    align-items: center;
    min-width: 500px;
}
.card{
    width: 32%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: #292B2E;
    border-radius: 1rem;
    padding: 2.5rem 0;
    transition:all 2000ms;
    cursor: pointer; 
}
.card_text_orange{
    font-size: 3.2rem;
    font-weight: 700;
    color: #FFB742;
    line-height: 40.33px;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    text-align: center;
}
.card_text_white{
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    line-height: 30.88px;
    font-family: 'Inter', sans-serif;
    margin: 0 auto; 
    text-align: center;
}
.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}
.card:hover .card_text_orange{
    color: #212529;
}
.card:hover .card_text_white{
    color: #212529;
}
.block{
    display: flex;
    justify-content:space-between;
    margin: 23rem auto;
    width: 90%;
    min-width: 500px;
}
.photo{
    width: 40%;
    margin-top: 6rem;
}
.photo_me{
    width: 100%;
}
.about_me{
    width: 50%;
}
.text_about_me_1{
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 3rem;
    margin: 2rem 0 4rem 0;
    color: #fff;
}
.text_about_me_2{
    font-family: 'Poppins', sans-serif;
    color: #D4D4D4;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 5rem;
}
.block2{
    display: flex;
    justify-content:space-between;
    margin: 2rem auto;
    width: 90%;
    min-width: 700px;
}
.text_about_me_3{
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
    margin: 2rem 0 4rem 0;
    color: #fff;
}
.text_about_me_4{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 5rem;
}
.icons{
    width: 50%;
}
.icon_gorisontal{
    display: flex;
    justify-content:end;
}
.icon{
    margin: 0 1rem 1rem 0;
    width:8rem;
    height: 8rem;
    text-align: center;
    background: #292B2E;
    border-radius: 1rem;
}
.icon:hover{
    background-color: rgba(255, 183, 66, 0.5);
}
.icon_center{
    margin-top: 1.8rem;
}
.button-orange_2{
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    line-height: 55px;
    margin-top: 13rem;
}
.header_text:hover{
    color: #FFB742;
}
.button-orange:hover{
    color: #212529;
    background-color:#FFB742;
}
.button-center{
    width: 121px;
    height: 54px;
    background-color: #292B2E;
    border-radius: 50px;
    display: block;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    line-height: 55px;
    margin: 13rem auto 0;
}
.button-center:hover{
    color: #212529;
    background-color:#FFB742;
}
.text_about_me_5{
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
    margin: 1rem 0 3rem 0;
    color: #fff;
    text-align: center;
}
.menu_2{
    width: 40%;
    min-width: 500px;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: space-between;
}
.button-box{
    height: 4rem;
    width: 120%;
    min-width: 50px;
    background-color: #212529;
    display: block;
    text-align: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    line-height: 4.2rem;
    margin: 0 auto;
}
.button-box:hover{
    background-color:#FFB742;
    color: #212529;
}
.works{
    width: 90%;
    min-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.work-column{
    width: 32%;
}
.photo_top{
    margin: 0 auto 3rem;
}
.photo-work{
    width: 100%;
}
.button-center2{
    width: 192px;
    height: 54px;
    background-color: #292B2E;
    border-radius: 50px;
    display: block;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    line-height: 55px;
    margin: 13rem auto 0;
}
.button-center2:hover{
    color: #212529;
    background-color:#FFB742;
}
.customer{
    width: 90%;
    min-width: 500px;
    margin: 6rem auto 25rem;
    display: flex;
    justify-content: space-between;
}
.customer_1{
   width: 32%;
   background: #FFF;
}
.stars{
    display: flex;
    justify-content:space-between;
    width: 30%;
    padding: 5rem 0 2rem 3rem;
}
.customer_text{
    padding: 0 5rem 3.7rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
}
.girl{
    display: flex;
    justify-content: unset;
    padding: 0 0 5rem 3rem;
}
.girl-name{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.4rem;
    padding: 0 0 0 3rem;
}
.girl-profession{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.4rem;
    padding: 0 0 0 3rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 15rem 0 9rem 0;
    background-color: #1C1C1C;
    min-width: 600px;
}
.column_1{
    width: 25%;
    padding: 0 0 0 5rem;
}
.element_1{
    color:#FFB742;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-right: 3rem;
}
.element_2{
    color:#D4D4D4;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3.2rem;
    margin: 3rem 3rem 0 0;
}
.column_2{
    width: 25%;
    padding-right: 2rem;
}
.element_3{
    color:#F5FBF2;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-bottom: 3rem;
}
.footer_menu{
    text-decoration: none;
    color:#7B7B7B;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.6rem;
}