body{
    margin: 0 auto;
    width: 1500px;
}
.bg{
    margin: 0;
    background-image: url('../image/надпис.png'), url('../image/фон.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center 144px, center center;
    background-size: unset, contain;
    width: 1500px;
    height: 700px;
    overflow: hidden;
}
.text{
    margin: 30px 0 30px 112px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    color: #000;
    line-height: 48.41px
}
.content{
    text-align: center;
}
.content>div{
    /*font-size: 36px;
    text-align: center;
    line-height: 45.14px;
    font-weight: 400;
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    margin: 10px auto;*/
    display: inline-block;
    overflow: hidden;
    margin: 0 19px;
    background: #231B0C;
    width: 400px;
    height: 460px;
}

/*.box{

}*/
.decoration{
    display: block;
    overflow: hidden;
    min-height: 460px;
    padding-top: 20px;
}
.decoration2{
    margin-top: 105px;
    display: block;
    overflow: hidden;
}
.Venice{
    margin: 42px 0 40px 0;
    text-align: center;
}
.footer{
    width: auto;
    height: 280px;
    background: #150F02;
    overflow: hidden;
}
/*.picture_table{
    width: 100%;
    height: 90px;
    text-align: left; 
}
*/
.picture-footer{
    width: 43%;
    float: left;
    margin-bottom: 15px;
}
.footer-menu{
    margin: 40px 0 0 420px;
}
.text-footer{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0.15em;
    display: block;
    margin-bottom: 40px;
}
.border-bottom{
    border-bottom: 10px solid #FF6B00;
    padding: 0 70px 10px 70px;
}
.icon{
    text-align: center;    
}
.face{
    margin: 0 15px;
}