body{
    margin: 0 auto;
    width: 1440px;
}
.header{
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
   /* font-family: 'Roboto', sans-serif;*/
   font-family: 'M PLUS 1', sans-serif;
}
.header-blue{
    color: #3E45E8;
}
.header-yellow{
    color: #E8C23E;
}
.bg{
    margin: 30px 0;
    background-image: url('../image/прапор.png'), url('../image/фон_1.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50px center, center center;
    background-size: unset, contain;
    width: 1440px;
    height: 766px;
    overflow: hidden;
}
.bg-text{
    margin: 238px 0 0 100px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 75.5px;
}
.text{
    margin: 30px 0 0 50px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    line-height: 62.92px;
}
.content{
    text-align: center;
}
.content>div{
    /*font-size: 36px;
    text-align: center;
    line-height: 45.14px;
    font-weight: 400;
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    margin: 10px auto;*/
    display: inline-block;
    overflow: hidden;
    margin: 30px 35px;
    color: #3E45E8;
    border: 5px solid #0D095F;
    border-radius: 38px;
    background: #FFFFFF;
}
.box1{
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
    width: 390px;
    height: 481px;
}
.box2{
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
    width: 388px;
    height: 481px;
}
.box3{
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
    width: 391.2px;
    height: 481px;
}
.box-text{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #0072DB;
    line-height: 37.75px;
    text-align: left;
    margin: 10px 0 0 20px;
}
.box-text2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FF9900;
    line-height: 31.46px;
    text-align: left;
    margin: 20px 0 40px 20px;
    text-decoration: none;
    min-height: 64px;
}
.decoration{
    text-decoration: none;
    display: block;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.border-bottom{
    border-bottom: 7px solid #1400FF;
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
}
.map{
    margin: 50px 0 30px 0;
    text-align: center;
}
.button{
    width: 499px;
    height: 81px;
    margin: 0 auto;
    background-color: #2A61F0;
    border-radius: 40px;
    display: block;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    line-height: 85.67px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
}
.footer{
    width: auto;
    height: 233px;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    margin-top: 50px;
}
.mail-tel{
    font-size: 36px;
    text-align: center;
    line-height: 45.14px;
    font-weight: 400;
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    margin: 10px auto;
    display: block;
    text-decoration: none;
}
.icon{
    text-align: center;    
}
.face{
    margin: 0 15px;
}